.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 140px;
    height: 140px;
    border: 1px solid black;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    padding: 20px;
    margin: 20px;
    overflow-wrap: anywhere;
    cursor: pointer;
    color: black;
    text-decoration: none;
    justify-content: space-between;
}
.card:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.changeAmount-gain, .changeAmount-loss{
    display: flex;
    align-items: center;
    color: green;
}
.changeAmount-loss{
    color:red
}
.card-prices{
    width: 100%;
}

.card-icon-parent{
    display: flex;
    flex-direction: column;
    height: 65%;
}