.product-segment-1,.product-segment-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.product-segment-2{
    justify-content: flex-start;
    width: 60%;
}
.product{
    margin:70px;
    padding: 4% 10%;
    border-radius: 40px;
    background-color: floralwhite;
}

.product-description{
    border: 2px solid #cacccb;
    padding: 2%;
    font-weight: 600;
}
.product-description-heading{
    width: 100%;
    border-bottom: 2px solid #cacccb;
}

.number-line-parent-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.number-line-parent-div hr{
    width: 100%;
    margin-top: 20px;
}

.product-prices{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.product-others{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}
.product-chips{
    display: flex;
    margin: 20px;
}

.bold-text{
    margin: 0;
}
.loader{
    margin-top: 45px;
    height: 700px;
    z-index: -1;
    position: relative;
}

@media (max-width: 767px) {
    /* Your CSS styles for mobile devices go here */
    body {
      font-size: 10px;
    }
    .product{
        margin: 0;
    }
    .product-segment-1,.product-segment-2{
        flex-direction: column;
        align-items: flex-start;
    }
    .product-segment-2{
        width: 100%;
    }
    .product-prices{
        align-items: flex-start;
    }
    .product-others{
        flex-direction: column;
        align-items: flex-start;
    }
    .product-chips{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 180px;
    }
    .number-line-parent-div{
        width: 100%;
    }
    .number-line-parent-div hr{
        margin-top: 10px;
    }
    .product-description{
        margin-top: 20px;
    }
    .product-description-heading{
        margin-bottom: 20px;
    }
    .product-description-heading h2{
        font-size: 20px;
    }
    .product-other-details{
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .loader{
        height: 1000px;
    }
  }