.product-segment-1,.product-segment-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.product-segment-2{
    justify-content: flex-start;
    width: 60%;
}
.product{
    margin:70px;
    padding-left: 10%;
    padding-right: 10%;
}

.product-description{
    border: 2px solid #cacccb;
    padding: 2%;
    font-weight: 600;
}
.product-description-heading{
    width: 100%;
    border-bottom: 2px solid #cacccb;
}

.number-line-parent-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.number-line-parent-div hr{
    width: 100%;
    margin-top: 20px;
}

.product-prices{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.product-others{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}
.product-chips{
    display: flex;
    margin: 20px;
}

.bold-text{
    margin: 0;
}