.searchbar{
    width: 40%;
    display: flex;
    align-items: center;
    position: relative;
}
.searchbar input{
    padding: 12px;
    border-radius: 20px;
    width: 70%;
    background-color:#f2deb3;
    border: none;
    color: black;
    font-size: 15px;
    padding-left: 32px;
}
.searchbar input:focus{
    outline: 2px solid goldenrod;
    opacity: 1;
}

.search-results{
    position: absolute;
    top: 30px;
    width: 69.6%;
    background-color: #f2deb3;
    color: black;
    border: 2px solid darkgoldenrod;
    border-radius: 0 0 20px 20px;;
    padding: 12px;
    border-top: none;
    padding-left: 22px;
    padding-right: 22px;
    z-index: 1;
}

.search-result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid goldenrod;
    cursor: pointer;
}

.search-result:hover{
    background-color: bisque;
}